<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.CheckApproveProduct"></activity>
        <activity android:name=".Sellers.SellerCategory" />
        <activity
            android:name=".Sellers.SellerDashBoard"
            android:label="@string/title_activity_seller_dash_board" />
        <activity android:name=".Sellers.SellerLogIn"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Sellers.SellerRegistration"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Buyers.ResetPassword" />
        <activity android:name=".Admin.MaintainProducts" />
        <activity android:name=".Buyers.SearchProducts" />
        <activity android:name=".Admin.ShowUsersOrdersProducts" />
        <activity android:name=".Admin.AdminNewOrder" />
        <activity android:name=".Buyers.ConfirmFinalOrder" />
        <activity android:name=".Buyers.Cart" />
        <activity android:name=".Buyers.ProductDetails" />
        <activity android:name=".Buyers.Settings" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Buyers.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sellers.SellerAddNewProduct" />
        <activity android:name=".Admin.AdminDashBoard" />
        <activity android:name=".SignUp"
            android:windowSoftInputMode="stateHidden"  />
        <activity android:name=".LogIn" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>